/* Add CSS Styling */

.odd {
    background-color: rgb(255, 176, 190);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#num2 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.fontsize {
    font-size: 24px;
}

#num4 {
    background-color: rgb(104, 255, 104);
    font-weight: bold;
}