*{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}


.position {
  margin: 10px;
  padding: 10px
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 0 1px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  display: block;
  background: #e3f4ff;
  text-align: center;
}

button {
  margin: auto;
  display: block;
  padding: 10px;
  background: white;
  border: 1px solid #eee;
}